@model IEnumerable<morning.Models.introduce>


@{
    ViewBag.Title = "店家介紹";
}

<h1 class="p-3 mb-2 font-weight-bold" style="color:#FAFAFA">店家介紹</h1>




@Html.ActionLink("大學城", "introduceS", "Introduce", new { @class = "btn btn-light " })

@Html.ActionLink("水源街", "introduceW", "Introduce", new { @class = "btn btn-light" })

@Html.ActionLink("大田寮", "introduceB", "Introduce", new { @class = "btn btn-light" })

<h1 class="display-4 font-weight-bold text-center" style="color:floralwhite;">---------------------大學城--------------------</h1>


<br>
<br>


<div class="row" style="height:300px">

    <div class="col-md-4" style="width: 33%;">
        <div class="card" style="        width: 100%;
        height: 300px;background-color:#FFFFF0; opacity: 0.9">
            <div class="card-body">
                <h2 class="card-title  font-weight-bold text-center" style="color:brown">--佳佳--</h2>
                <h4 class="card-subtitle text-muted ">營業時間 : 06:00–13:30 (星期日休息)</h4><br>
                <h4 class="card-subtitle text-muted ">電話 : 02-2628-3222</h4><br>
                <h4 class="card-subtitle text-muted ">地址 : 新北市淡水區北新路182巷3弄12號</h4><br>
                <h4 class="card-subtitle text-muted ">綜合評價 :食物**** 環境*** 服務****</h4><br>

                @Html.ActionLink("Read More", "佳佳", "readmore", new { area = " " }, new { @class = "btn btn-outline-primary " })
            </div>
        </div>
    </div>

    <div class="col-md-4" style="width: 33%;">
        <div class="card" style=" width: 100% ; height: 300px; background-color:#FFFFF0; opacity: 0.9">
            <div class="card-body">
                <h2 class="card-title  font-weight-bold text-center" style="color:brown">--晨之美--</h2>
                <h4 class="card-subtitle text-muted ">營業時間 : 07:00–14:00</h4><br>
                <h4 class="card-subtitle text-muted ">電話 : 02-2620-3556</h4><br>
                <h4 class="card-subtitle text-muted ">地址 : 新北市淡水區北新路182巷21弄7號</h4><br>
                <h4 class="card-subtitle text-muted ">綜合評價 :食物*** 環境*** 服務***</h4><br>

                @Html.ActionLink("Read More", "晨之美", "readmore", new { area = " " }, new { @class = "btn btn-outline-primary " })
            </div>
        </div>
    </div>

    <div class="col-md-4" style="width: 33%;">
        <div class="card" style="        width: 100%;
        height: 300px; background-color:#FFFFF0; opacity: 0.9">
            <div class="card-body">
                <h2 class="card-title  font-weight-bold text-center" style="color:brown">--輕春--</h2>
                <h4 class="card-subtitle text-muted ">營業時間 : 07:30–15:00(星期四休息)</h4><br>
                <h4 class="card-subtitle text-muted ">電話 : 02-2629-1102</h4><br>
                <h4 class="card-subtitle text-muted ">地址 : 新北市淡水區北新路169巷69弄18-1號</h4><br>
                <h4 class="card-subtitle text-muted ">綜合評價 :食物***** 環境***** 服務*****</h4><br>

                @Html.ActionLink("Read More", "輕春", "readmore", new { area = " " }, new { @class = "btn btn-outline-primary " })
            </div>
        </div>
    </div></div><br><br>
    <div class="row" style="height:300px">
        <div class="col-md-4" style="width: 33%;">
            <div class="card" style="width: 100%;height:300px; background-color:#FFFFF0; opacity: 0.9">
                <div class="card-body">
                    <h2 class="card-title  font-weight-bold text-center" style="color:brown">--亞米香蛋餅店--</h2>
                    <h4 class="card-subtitle text-muted ">營業時間 : 07:00–14:00(假日休息)</h4><br>
                    <h4 class="card-subtitle text-muted ">電話 : 02-8631-7816</h4><br>
                    <h4 class="card-subtitle text-muted ">地址 : 新北市淡水區北新路184巷120號(金雞母社區內)</h4><br>
                    <h4 class="card-subtitle text-muted ">綜合評價 :食物***** 環境*** 服務*****</h4><br>

                    @Html.ActionLink("Read More", "亞米香", "readmore", new { area = " " }, new { @class = "btn btn-outline-primary " })
                </div>
            </div>
        </div>

        <div class="col-md-4" style="width: 33%;">
            <div class="card" style="width: 100%;height:300px; background-color:#FFFFF0; opacity: 0.9">
                <div class="card-body">
                    <h2 class="card-title  font-weight-bold text-center" style="color:brown">--早安早鳥--</h2>
                    <h4 class="card-subtitle text-muted ">營業時間 : 07:00–16:00</h4><br>
                    <h4 class="card-subtitle text-muted ">電話 : 02-2622-0210</h4><br>
                    <h4 class="card-subtitle text-muted ">地址 : 新北市淡水區北新路184巷21弄22號</h4><br>
                    <h4 class="card-subtitle text-muted ">綜合評價 :食物**** 環境***** 服務****</h4><br>

                    @Html.ActionLink("Read More", "早安早鳥", "readmore", new { area = " " }, new { @class = "btn btn-outline-primary " })
                </div>
            </div>
        </div>

        <div class="col-md-4" style="width: 33%;">
            <div class="card" style="width: 100%;height:300px; background-color:#FFFFF0; opacity: 0.9">
                <div class="card-body">
                    <h2 class="card-title  font-weight-bold text-center" style="color:brown">--德芳美--</h2>
                    <h4 class="card-subtitle text-muted ">營業時間 : 24小時營業</h4><br>
                    <h4 class="card-subtitle text-muted ">電話 : 02-2623-0284</h4><br>
                    <h4 class="card-subtitle text-muted ">地址 : 新北市淡水區北新路163號</h4><br>
                    <h4 class="card-subtitle text-muted ">綜合評價 :食物***** 環境** 服務***</h4><br>

                    @Html.ActionLink("Read More", "德芳美", "readmore", new { area = " " }, new { @class = "btn btn-outline-primary " })
                </div>
            </div>
        </div>
        </div><br><br>
    <div class="row" style="height:300px">
        <div class="col-md-4" style="width: 33%;">
            <div class="card" style="width: 100%;height:300px; background-color:#FFFFF0; opacity: 0.9">
                <div class="card-body">
                    <h2 class="card-title  font-weight-bold text-center" style="color:brown">--麥德多--</h2>
                    <h4 class="card-subtitle text-muted ">營業時間 : 07:30–23:00(星期六休息)</h4><br>
                    <h4 class="card-subtitle text-muted ">電話 : 02-2623-8947</h4><br>
                    <h4 class="card-subtitle text-muted ">地址 : 新北市淡水區北新路182巷21弄1號</h4><br>
                    <h4 class="card-subtitle text-muted ">綜合評價 :食物***** 環境*** 服務*****</h4><br>

                    @Html.ActionLink("Read More", "麥得多", "readmore", new { area = " " }, new { @class = "btn btn-outline-primary " })
                </div>
            </div>
        </div>

        <div class="col-md-4" style="width: 33%;">
            <div class="card" style="width: 100%;height:300px; background-color:#FFFFF0; opacity: 0.9">
                <div class="card-body">
                    <h2 class="card-title  font-weight-bold text-center" style="color:brown">--麥軒--</h2>
                    <h4 class="card-subtitle text-muted ">營業時間 : 07:30–14:00(星期日08:00–14:00)</h4><br>
                    <h4 class="card-subtitle text-muted ">電話 : 02-2622-7516</h4><br>
                    <h4 class="card-subtitle text-muted ">地址 : 新北市淡水區北新路182巷3弄6號</h4><br>
                    <h4 class="card-subtitle text-muted ">綜合評價 :食物**** 環境**** 服務****</h4><br>

                    @Html.ActionLink("Read More", "麥軒", "readmore", new { area = " " }, new { @class = "btn btn-outline-primary " })
                </div>
            </div>
        </div>

        <div class="col-md-4" style="width: 33%;">
            <div class="card" style="width: 100%;height:300px; background-color:#FFFFF0; opacity: 0.9">
                <div class="card-body">
                    <h2 class="card-title  font-weight-bold text-center" style="color:brown">--小品屋--</h2>
                    <h4 class="card-subtitle text-muted ">營業時間 : 06:00–13:30(星期日休息)</h4><br>
                    <h4 class="card-subtitle text-muted ">電話 : 02-2628-3222</h4><br>
                    <h4 class="card-subtitle text-muted ">地址 : 新北市淡水區北新路182巷3弄12號</h4><br>
                    <h4 class="card-subtitle text-muted ">綜合評價 :食物**** 環境**** 服務****</h4><br>

                    @Html.ActionLink("Read More", "小品屋", "readmore", new { area = " " }, new { @class = "btn btn-outline-primary " })
                </div>
            </div>
        </div>
        </div><br><br>
    <div class="row" style="height:300px">
        <div class="col-md-4" style="width: 33%;">
            <div class="card" style="width: 100%;height:300px; background-color:#FFFFF0; opacity: 0.9">
                <div class="card-body">
                    <h2 class="card-title  font-weight-bold text-center" style="color:brown">--拉雅--</h2>
                    <h4 class="card-subtitle text-muted ">營業時間 : 06:30–13:30(假日07:00–14:00)</h4><br>
                    <h4 class="card-subtitle text-muted ">電話 : 02-2626-0602</h4><br>
                    <h4 class="card-subtitle text-muted ">地址 : 新北市淡水區北新路182巷50號</h4><br>
                    <h4 class="card-subtitle text-muted ">綜合評價 :食物*** 環境***** 服務****</h4><br>

                    @Html.ActionLink("Read More", "拉雅", "readmore", new { area = " " }, new { @class = "btn btn-outline-primary " })
                </div>
            </div>
        </div>

        <div class="col-md-4" style="width: 33%;">
            <div class="card" style="width: 100%;height:300px; background-color:#FFFFF0; opacity: 0.9">
                <div class="card-body">
                    <h2 class="card-title  font-weight-bold text-center" style="color:brown">--麥味登--</h2>
                    <h4 class="card-subtitle text-muted ">營業時間 : 04:00–13:30</h4><br>
                    <h4 class="card-subtitle text-muted ">電話 : 02-2623-5211</h4><br>
                    <h4 class="card-subtitle text-muted ">地址 : 新北市淡水區北新路153號</h4><br>
                    <h4 class="card-subtitle text-muted ">綜合評價 :食物**** 環境***** 服務*****</h4><br>

                    @Html.ActionLink("Read More", "麥味登", "readmore", new { area = " " }, new { @class = "btn btn-outline-primary " })
                </div>
            </div>
        </div>

        <div class="col-md-4" style="width: 33%;">
            <div class="card" style="width: 100%;height:300px; background-color:#FFFFF0; opacity: 0.9">
                <div class="card-body">
                    <h2 class="card-title  font-weight-bold text-center" style="color:brown">--貞珍--</h2>
                    <h4 class="card-subtitle text-muted ">營業時間 : 07:00–18:00(星期一休息)</h4><br>
                    <h4 class="card-subtitle text-muted ">電話 : 02-2622-8289</h4><br>
                    <h4 class="card-subtitle text-muted ">地址 : 新北市淡水區北新路184巷3-1號</h4><br>
                    <h4 class="card-subtitle text-muted ">綜合評價 :食物**** 環境**** 服務****</h4><br>

                    @Html.ActionLink("Read More", "貞珍", "readmore", new { area = " " }, new { @class = "btn btn-outline-primary " })
                </div>
            </div>
        </div>
        </div><br><br>
    <div class="row" style="height:300px">
        <div class="col-md-4" style="width: 33%;">
            <div class="card" style="width: 100%;height:300px; background-color:#FFFFF0; opacity: 0.9">
                <div class="card-body">
                    <h2 class="card-title  font-weight-bold text-center" style="color:brown">--小小麥--</h2>
                    <h4 class="card-subtitle text-muted ">營業時間 : 06:00–16:00(假日休息)</h4><br>
                    <h4 class="card-subtitle text-muted ">電話 : 無</h4><br>
                    <h4 class="card-subtitle text-muted ">地址 : 淡江大學內</h4><br>
                    <h4 class="card-subtitle text-muted ">綜合評價 :食物*** 環境*** 服務**</h4><br>

                    @Html.ActionLink("Read More", "小小麥", "readmore", new { area = " " }, new { @class = "btn btn-outline-primary " })
                </div>
            </div>
        </div>
        </div>
            <br>



            <br>
            <br>
