
@{
    ViewBag.Title = "麥得多";
}


<h1 class="p-3 mb-2 font-weight-bold" style="color:#FAFAFA">麥德多</h1>

<div class="btn-group">
    <div class="btn-group">
        <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
            大學城
        </button>
        <div class="dropdown-menu">
            @Html.ActionLink("佳佳", "佳佳", "map", new { @class = "dropdown-item" })
            @Html.ActionLink("晨之美", "晨之美", "map", new { @class = "dropdown-item" })
            @Html.ActionLink("輕春", "輕春", "map", new { @class = "dropdown-item" })
            @Html.ActionLink("亞米香蛋餅店", "亞米香", "map", new { @class = "dropdown-item" })
            @Html.ActionLink("早兒早鳥", "早安早鳥", "map", new { @class = "dropdown-item" })
            @Html.ActionLink("德芳美", "德芳美", "map", new { @class = "dropdown-item" })
            @Html.ActionLink("麥德多", "麥德多", "map", new { @class = "dropdown-item" })
            @Html.ActionLink("麥軒", "麥軒", "map", new { @class = "dropdown-item" })
            @Html.ActionLink("小品屋", "小品屋", "map", new { @class = "dropdown-item" })
            @Html.ActionLink("拉雅", "拉雅", "map", new { @class = "dropdown-item" })
            @Html.ActionLink("麥味登", "麥味登", "map", new { @class = "dropdown-item" })
            @Html.ActionLink("貞珍", "貞珍", "map", new { @class = "dropdown-item" })
            @Html.ActionLink("小小麥", "小小麥", "map", new { @class = "dropdown-item" })
        </div>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
            水源街
        </button>
        <div class="dropdown-menu">
            @Html.ActionLink("早安兔寶", "兔寶", "map", new { @class = "dropdown-item" })
            @Html.ActionLink("藍與白", "藍白", "map", new { @class = "dropdown-item" })
            @Html.ActionLink("肥喵喵", "肥喵", "map", new { @class = "dropdown-item" })
        </div>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
            大田寮
        </button>
        <div class="dropdown-menu">
            @Html.ActionLink("姊妹", "姐妹", "map", new { @class = "dropdown-item" })
            @Html.ActionLink("多朗克", "多朗克", "map", new { @class = "dropdown-item" })
        </div>
    </div>
</div>


<div class="p-2 bd-highlight">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3610.7626613791927!2d121.44698421496133!3d25.177490583905296!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442affe071bc105%3A0xae80bd07e2c63a14!2z6bql5b635aSa!5e0!3m2!1szh-TW!2stw!4v1623083885019!5m2!1szh-TW!2stw" 
            width="800" height="650" style="border:0; margin:80px;" allowfullscreen="" loading="lazy"></iframe>
</div>
